$("#comments_count").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$("#comments_count").html("<%= pluralize(@comment.episode.comments.count, 'Comentari') %>");
$("#new_comment").before("<%= escape_javascript(render(:partial => @comment)) %>");
$("#comment<%=@comment.id%>").effect("highlight", {color: "#88ff88"}, 4000); //No va
$("#new_comment")[0].reset();

