body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: "Myriad Pro","Myriad Web", helvetica, sans-serif;
  font-size:   14px;
/*  line-height: 18px;*/
	margin: 20px 0 0 0;
}

.small {
	font-size: 12px;
}

h3 {
	font-size: 20px;
}

h3 a {
	text-decoration: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #444; }
a:visited { color: #444; }
a:hover { color: #FF4400; }

div.field, div.actions 
{
  margin-bottom: 10px;
}

.notice 
{
  color: green;
}

.fieldWithErrors 
{
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation 
{
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p 
{
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li 
{
  font-size: 12px;
  list-style: square;
}


#header
{
	display: block;
}

#header h1, #header h2
{
	display: inline;
	font-size: 50px;
}

#header h1 a
{
	color: #000000;
}

#header h1 a:hover 
{
	color: red;
}

#header h2 a
{
	color: #333333;
}

#header h2 a:hover 
{
	color: #ff4400;
}

#header a
{
	text-decoration: none;
}

#sidebar 
{
	margin-top: 20px;
}

#sidebar h1
{
	font-size: 18px;
	font-weight: bold;
	margin-left: 25px;
}

#sidebar ul
{
	list-style-type: none;
}

#sidebar a
{
	text-decoration: none;
	color: #333;
}

#sidebar li
{
	line-height: 16px;
	padding: 10px 10px 10px 20px;
	width: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: -30px;

}
#sidebar li:hover
{
	background: #eeeeee;
}

#episodes
{
	margin: 20px 0;
	text-align: justify;
}

.episode
{
	padding: 2px 20px 20px 20px;
	margin-bottom: 10px;
	text-align: justify;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#comments_count
{
	font-size: 22px;
}
.data {
	float:right;
	color:gray;
	font-size:18px;
}

.parell {
	background: #eeeeee;
}

.senar {
	background: #ffefef;
}

#admin
{
	text-align: right;
}

#triangle 
{
	background: url('../images/top.png') no-repeat top 3%;
	height: 25px;
	margin-top: -20px;
}

.presentation {
	background: #c0deed;
	padding: 2px 20px 20px 20px;
	min-height: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.prestext {
	font-size: 20px;		  
}

#tooltip {
	    display:none; 
	    background:transparent url("../images/black_arrow.png"); 
	    font-size:12px; 
	    height:70px; 
	    width:160px; 
	    padding:25px; 
	    color:#fff;     
}