body
{
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

body, p, ol, ul, td
{
  font-family: "Myriad Pro","Myriad Web", helvetica, sans-serif;
  font-size:   14px;
}

.small
{
  font-size: 12px;
}

h3
{
  font-size: 20px;
}

h3 a
{
  text-decoration: none;
}

pre
{
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #444; }
a:visited { color: #444; }
a:hover { color: #980000; }

div.field, div.actions
{
  margin-bottom: 10px;
}

.fieldWithErrors
{
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation
{
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p
{
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li
{
  font-size: 12px;
  list-style: square;
}


#header
{
  display: block;
}

#header h1
{
  display: inline;
  font-size: 70px;
}

#header h1 a, #header h1:hover span a, .semantic
{
  color: #980000;
}

#header h1 span a, #header h1:hover a, .podcast
{
  color: #333333;
}


#header a
{
  text-decoration: none;
}

#sidebar
{
  margin-top: 20px;
	background-color: #DDD;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#sidebar h1
{
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

#sidebar ul
{
  list-style-type: none;
}

#sidebar a
{
  text-decoration: none;
  color: #333;
	padding: 3px;
}

#sidebar a:hover
{
	background: #eeeeee;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#sidebar li
{
  line-height: 16px;
  padding: 5px;
  width: 105px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: -15px;
	margin-bottom: 5px;
}

#sidebar li:hover
{
  background: #eeeeee;
}

.centrat
{
	text-align: center;
}

#episodes
{
  margin: 20px 0;
  text-align: justify;
}

.episode
{
  padding: 2px 20px 20px 20px;
  margin-bottom: 10px;
  text-align: justify;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.page
{
  padding: 20px;
  margin-bottom: 10px;
  text-align: justify;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;	
  background: #C9C9C9;
}

#comments_count
{
  font-size: 22px;
}
.data {
  float:right;
  color:gray;
  font-size:18px;
  text-align: right;
}

.parell {
  background: #C9C9C9;
}

.senar {
  background: #EEEEEE;
}

#admin
{
  text-align: right;
}

#triangle 
{
  background: url('../images/top.png') no-repeat top 3%;
 	height: 20px;
	margin-left: 80px;
}

.presentation
{
  background: #222;
/*  color: #000;*/
	color: #CCC;
  padding: 2px 20px 20px 20px;
  min-height: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.presentation a
{
  color: #000;
}

.prestext
{
  font-size: 20px;
}

#tooltip
{
  display:none;
  background:transparent url("../images/black_arrow.png");
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:#fff;
}

.comment
{
  display: block;
  background: #E5EEED;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

div.flash.notice
{
  display: block;
  padding: 10px;
  border: 1px solid #3A991A;
  background-color: #ABD7A4;
  margin: 20px 10px;
  color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


#form_comentaris
{
	background: #222;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
	padding: 20px;
	color: white;	
	display: none;
}

#comment_now
{
	margin-left: 85px;
	text-decoration: none;
	font-size: 16px;
	padding: 10px;
	color: white;
	background: #222;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#tanca
{
	color:white;
}



#footer 
{
	margin:0 auto;
	background:#000;
}
#footer #more 
{
	background:#DDD url('../images/footer.png') repeat-x;
	padding-top:1em;
}
#footer #contact
{
	margin:0 auto;
	width:910px;
	padding:1.5em 0;
}

#footer #contact p
{
	font-size:1.15em;
	line-height:1.5;
	color:#555;
}

#footer #contact a
{
	color:#333;
	border-color:#333;
	font-weight:bold;
}

#footer #contact a:hover
{
	background:#333;
	color:#FFF;
}

#footer #credits 
{
	margin:0 auto;
	width:910px;
	color:#FFF;
	padding:2em 0 0.5em 0;
	color:#333;
}



