
<div id="presentationbox" class="row">
	<div id="triangle"></div>
  <div class="column grid_16">
    <div class="presentation">

      <%= image_tag("micro.png", :style => "float:right;") %>
      <p class="prestext">Benvinguts al podcast Semàntic</p>
      <p class="prestext">El nou podcast en català d'informàtica i noves tecnologies fet per enginyers informàtics.</p>
    </div>
  </div>
</div>
