<div id="premisblocs" class="promo">
  <a href="http://www.premisblocs.cat/bloc/453">
    <img src="/images/premisblocs.jpg" alt="Premis Blocs Cat">
    <span>Vota Semàntic a Premis Blocs Catalunya!</span>
  </a>
</div>
