<div id="presentationbox" class="row">
	<div class="column grid_12">
		<div class="presentation">
			<p class="prestext">Benvinguts al <b>podcast</b> <b style="color:#333333">semantic</b>!</p>
			<p class="prestext">Tertúlia informàtica i tecnològica de la mà de <a href="http://bernatfarrero.com"><b>Bernat Farrero</b></a> i <a href="http://jrom.net"><b>Jordi Romero</b></a>.</p>
		</div>
	</div>
</div>