<div id="presentationbox" class="row">
  <div class="column grid_12">
    <div class="presentation">
      <%= image_tag("micro.png", :style => "float:right;") %>
      <p class="prestext">Benvinguts al <strong class="podcast">podcast</strong> <strong class="semantic">semàntic</strong>!</p>
      <p class="prestext">Tertúlia informàtica i tecnològica de la mà d'<b>enginyers informàtics</b>.</p>
    </div>
  </div>
</div>
