<div id="sidebar" class="column grid_2">


	
	<a title="Subscriu-te al nostre programa i rebràs les últimes actualitzacions directament al teu ordinador o mòbil!" href="/.xml">
		<p style="font-size: 18px;">Subscriu-te!
		<%= image_tag("rss.png", :style => "float:left;padding-right:5px;") %></p>
	</a>
	
	<br /><br />
	<h1>Sponsors</h1>
	<ul>
		<label for="link1"><li><a id="link1" href="http://www.jrdv.cat">JRDV</a></li></label>
		<label for="link2"><li><a id="link2" href="http://www.itnig.net">Grup Itnig</a></li></label>
	</ul>
</div>

	<div id="tooltip">&nbsp;</div> 