<% title "El podcast català de noves tecnologies" %>

<h1>Episodis podcast</h1>
 <%= render :partial => @episodes, :locals => { :list => true } %>

<%= will_paginate @episodes, :prev_label => "&laquo; Anterior", :next_label => "Següent &raquo;" %>

<% content_for :admin do %>
  <%= link_to 'Afegir episodi', new_episode_path %>
<% end if logged_in? -%>