<div id="episodes">
  <%= render :partial => @episodes, :locals => { :list => true } %>
</div>

<% content_for :admin do %>
  <%= link_to 'Afegir episodi', new_episode_path %>
<% end if logged_in? -%>
