<span class="xarxa">
  <a href="http://jrom.net">Blog</a>
  <a href="http://github.com/jrom">Github</a>
  <a href="http://www.flickr.com/photos/jordi_romero/">Flickr</a>
</span>

<h2>Jordi Romero</h2>
<p>
  Consultor en informàtica a <a href="http://jrdv.cat/" title="JRDV">JRDV</a> mentre acaba els estudis d'Enginyeria en Informàtica a la <a href="http://www.fib.upc.edu/fib/" title="Facultat d'Informàtica de Barcelona">Facultat d'Informàtica de Barcelona</a>. Especialista en Ruby on Rails així com aplicacions web en general, desplegament de sistemes i d'altres temes relacionats. Paral·lelament a la universitat intenta fer recerca en l'àmbit de l'Arquitectura de Computadors.
</p>
