<span class="xarxa">
						<a href="http://mutsuda.com">Blog</a>
						<a href="http://github.com/mutsuda">Github</a>
						<a href="http://twitter.com/mutsuda">Twitter</a>
						<a href="http://www.flickr.com/photos/22524707@N04">Flickr</a>
</span>

<h2>Masumi Mutsuda</h2>
<p>Enginyer informàtic mig japonès, mig català. Amant de les noves tecnologies, però també del coneixement en general. Apassionat per la flauta travessera, el piano i la fotografia, és membre de l'Orquestra de la Universitat Politècnica de Catalunya. 
Ha viscut al Japó, i cada estiu hi torna per posar-se al dia de les noves tendències. Actualment viu a Barcelona, on hi treballa com a actor de doblatge tant de  <a href="http://www.eldoblatge.com/actor_doblatge/masumi_mutsuda">català</a>, com de <a href="http://www.eldoblaje.com/datos/FichaActorDoblaje.asp?id=162">castellà</a>. </p>
