<span class="xarxa">
						<a href="http://mutsuda.com">Blog</a>
						<a href="http://github.com/mutsuda">Github</a>
						<a href="http://twitter.com/mutsuda">Twitter</a>
						<a href="http://www.flickr.com/photos/22524707@N04">Flickr</a>
</span>

<h2>Masumi Mutsuda</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit velit imperdiet ligula vestibulum vitae consectetur enim tempor. Aenean augue risus, varius quis interdum a, consectetur ut dolor. Phasellus tempus felis eu nunc feugiat ut congue neque imperdiet. Morbi ut vehicula tortor. Mauris a arcu ut felis gravida tincidunt sit amet sit amet nisi. Suspendisse potenti. Nam ullamcorper augue nec nulla iaculis sollicitudin. hasellus tempus felis eu nunc feugiat ut congue neque imperdiet. Morbi ut vehicula tortor. Mauris a arcu ut felis gravida tincidunt sit amet sit amet nisi. Suspendisse potenti. </p>
