<span class="xarxa">
						<a href="http://mutsuda.com">Blog</a>
						<a href="http://github.com/mutsuda">Github</a>
						<a href="http://twitter.com/mutsuda">Twitter</a>
						<a href="http://www.flickr.com/photos/22524707@N04">Flickr</a>
</span>

<h2>Masumi Mutsuda</h2>
<p>Enginyer informàtic mig japonès, mig català. Amant de les noves tecnologies, però també del coneixement en general. Apassionat per la flauta travessera, el piano i la fotografia, és membre de l'Orquestra de la Universitat Politècnica de Catalunya. 
Ha viscut al Japó, i cada estiu hi torna per posar-se al dia de les noves tendències. Actualment viu a Barcelona, on hi treballa com a actor de doblatge tant de  <a href="http://www.eldoblatge.com/actor_doblatge/masumi_mutsuda">català</a>, com de <a href="http://www.eldoblaje.com/datos/FichaActorDoblaje.asp?id=162">castellà</a>. </p>
<p>Pots contactar amb ell a <b><a href="javascript:location='mailto:\u006d\u0075\u0074\u0073\u0075\u0064\u0061\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0"><script type="text/javascript">document.write('\u006d\u0075\u0074\u0073\u0075\u0064\u0061\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d')</script></a></b>.</p>

