<div id="about" class="episode parell">
  <h1>Què és Semàntic?</h1>
  <p>Semantic és un <a href="http://ca.wikipedia.org/wiki/Podcàsting" alt="Què és un podcast?">podcast</a> en català que parla d'<b>informàtica i noves tecnologies</b> en general. La idea va néixer al bar de la FIB (<a href="http://www.fib.upc.es">Facultat d'Informàtica de Barcelona</a>) a principis del 2010 i el primer episodi es va enregistrar en un garatge [no podia ser altrament] de la zona de la Sagrada Família de Barcelona, el dilluns 17 de Maig de 2010. </p>

  <p>Està orientat a un públic intern al món de la informàtica, ja sigui per professió o per afició. No pretenem ser un noticiari ni cobrir tots els temes d'actualitat, sinó que el nostre objectiu és xerrar distesament de les tecnologies o novetats que ens criden l'atenció. És possible que utilitzem alguns episodis per examinar algun tema en profunditat, analitzar tecnologies o fer entrevistes a persones que considerem interessants. En definitiva, el nostre objectiu és compartir amb altres la nostra passió per la informàtica.</p>

  <p>Semantic és un podcast setmanal que <b>s'emetrà els dilluns</b>. Us podeu subscriure mitjançant l'iTunes o <a href="http://localhost:4000/episodes.rss" alt="Feed RSS" >per RSS</a> amb qualsevol <a href="http://ca.wikipedia.org/wiki/Agregador">agregador</a> de <a href="http://ca.wikipedia.org/wiki/Canal_web">feeds</a>.</p>

  <p>Com que som molt novells, apreciem totes les contribucions que ens pugueu donar. Deixeu comentaris als episodis o escriviu-nos a <b><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#111;&#100;&#99;&#97;&#115;&#116;&#64;&#115;&#101;&#109;&#97;&#110;&#116;&#105;&#99;&#46;&#99;&#97;&#116;" title="Correu de semàntic.cat">&#112;&#111;&#100;&#99;&#97;&#115;&#116;&#64;&#115;&#101;&#109;&#97;&#110;&#116;&#105;&#99;&#46;&#99;&#97;&#116;</a></b>. També podeu seguir el <a href="http://twitter.com/semanticpodcast" title="Twitter de Podcast Semàntic">nostre Twitter</a> o consultar el <a href="http://github.com/bernat/semantic" title="semantic.cat a Github">codi d'aquesta pàgina</a>.</p>
  <br />
  <span class="centrat">
    <p>
      <img src="/images/1podcast.jpg" alt="Gravació del primer podcast, 17 de Maig de 2010." /><br />	
      Gravació del primer episodi, el 17 de Maig de 2010
    </p>
  </span>
</div>
