<div id="about" class="episode parell">

	<div class="row">
			<div id="barracontacte" class="column grid_2">

					<%= raw gravatar("dberni@gmail.com", :size => 125) %>

			</div>
	  <div id="descripcio" class="column grid_6">
			<span class="xarxa">
									<a href="http://bernatfarrero.com">Blog</a>
									<a href="http://github.com/bernat">Github</a>
									<a href="http://flickr.com/dberni">Flickr</a>
									<a href="http://twitter.com/bernatfarrero">Twitter</a>									
			</span>
		
			<h2>Bernat Farrero</h2>
			<p>Enginyer informàtic (actualment realitzant el projecte final de carrera).  Treballa ideant aplicacions web i mòbils al <a href="http://itnig.net">grup Itnig</a>. Apassionat per la informàtica i l'economia internacional, la fotografia i la ciència ficció. Va tenir la idea de Semantic perquè trobava que hi havia poca alternativa catalana a la nodrida varietat de podcasting americana. Ha viscut a Anglaterra, els Estats Units i Itàlia. Actualment es troba a Barcelona.</p>
			<p>Escriu-me a <b><a href="javascript:location='mailto:\u0062\u0065\u0072\u006e\u0061\u0074\u0040\u0069\u0074\u006e\u0069\u0067\u002e\u006e\u0065\u0074';void 0"><script type="text/javascript">document.write('\u0062\u0065\u0072\u006e\u0061\u0074\u0040\u0069\u0074\u006e\u0069\u0067\u002e\u006e\u0065\u0074')</script></a></b>.</p>
		</div>		
	
	</div>		


	
</div>