<div id="about" class="episode parell">

	<div class="row">
			<div id="barracontacte" class="column grid_2">

					<%= raw gravatar("dberni@gmail.com", :size => 125) %>

			</div>
	  <div id="descripcio" class="column grid_5">
			<span class="xarxa" style="float:right;margin-top: 20px;">
									<a href="http://bernatfarrero.com">Blog</a>
									<a href="http://github.com/bernat">Github</a>
									<a href="http://flickr.com/dberni">Flickr</a>
			</span>
		
			<h2>Bernat Farrero</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit velit imperdiet ligula vestibulum vitae consectetur enim tempor. Aenean augue risus, varius quis interdum a, consectetur ut dolor. Phasellus tempus felis eu nunc feugiat ut congue neque imperdiet. Morbi ut vehicula tortor. Mauris a arcu ut felis gravida tincidunt sit amet sit amet nisi. Suspendisse potenti. Nam ullamcorper augue nec nulla iaculis sollicitudin.  </p>
		</div>		
	
	</div>		


	
</div>