<h1>Screencasts</h1>
 <%= render :partial => @screencasts, :locals => { :list => true } %>

<% content_for :admin do %>
  <%= link_to 'Afegir episodi', new_screencast_path %>
<% end if logged_in? -%>


